<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off" novalidate>
    <div class="form-group">
      <em
        *ngIf="(loginForm.controls.userName?.invalid && loginForm.controls.userName.touched) || (loginForm.controls.userName?.invalid && mouseOverLogin)">Required</em>
      <label for="userName">User Name:</label>
      <input required (ngModel)="userName" name="userName" id="userName" type="text" class="form-control"
             placeholder="User Name..."/>
    </div>
    <div class="form-group">
      <em
        *ngIf="(loginForm.controls.password?.invalid && loginForm.controls.password.touched) || (loginForm.controls.password?.invalid && mouseOverLogin)">Required</em>
      <label for="password">Password:</label>
      <input required (ngModel)="password" name="password" id="password" type="password" class="form-control"
             placeholder="Password..."/>
    </div>

    <span (mouseenter)="mouseOverLogin = true" (mouseleave)="mouseOverLogin = false">
      <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Login</button>
      <button (click)="cancel()" type="button" class="btn btn-default">Cancel</button>
    </span>
  </form>
  <br>
  <div *ngIf="loginInvalid" class="alert alert-danger">Invalid Login Info</div>
</div>
